html {
    scroll-behavior: smooth;
}

.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav-right {
    float: right;
    background-color: white;
    font-weight: 400;
    position: fixed;
    font-size: 20px;
}

h1 {
    font-size: 5vw;
    padding: 0px;
    margin: 0px;
    font-family: 'Dosis', sans-serif;
    font-weight: 100;
    padding-bottom: 15px;
}

h2 {
    font-size: 1.5vw;
    padding: 0px;
    margin: 0px;
    padding-bottom: 15px;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
}

p {
    font-size: 1vw;
    padding: 0px;
    margin: 0px;
    font-family: 'Barlow', sans-serif;
    font-weight: 100;
    padding-bottom: 5px;
    color: grey;
}

.container {
    width: 100%;
}

.circle-content {
    width: 32%;
    text-align: center;
    float: right;
}

.circle {
    display: inline-flex;
    height: 16vw;
    width: 16vw;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 2vw;
    margin-right: 6vw;
    max-width: 190px;
    max-height: 190px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.dp-pic {
    display: inline-flex;
    height: 10vw;
    width: 10vw;
    min-width: 100px;
    min-height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-top: 2vw;
    margin-left: 3.5px;
    margin-right: 4.5vh;
    max-width: 190px;
    max-height: 190px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.social-circle {
    display: inline-flex;
    height: 5vw;
    width: 5vw;
    min-width: 10px;
    min-height: 10px;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 50px;
    max-height: 50px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.circle-content p {
    font-size: 16px;
    color: #666;
}

.btn {
    text-align: center;
    width: 100%;
    margin-top: 15px;
}

.btn .btn-box {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.txt-box {
    height: 45px;
    width: 300px;
    line-height: 48px;
    border-radius: 6px;
    border-color: black;
    padding: 0;
}

.btn-txt {
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    color: rgb(232, 232, 232);
}

.proj-box {
    text-align: center;
    margin-top: 30px;
    line-height: 48px;
    background: #141414;
    height: 50px;
    width: 200px;
    border-radius: 6px;
    margin: auto auto;
}

.proj-txt {
    font-size: 25px;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    color: rgb(232, 232, 232);
}

.btn-box {
    text-align: center;
    margin-top: 5px;
    line-height: 48px;
    background: #141414;
    height: 50px;
    width: 165px;
    border-radius: 6px;
    margin: auto auto;
}

div.figure {
    float: right;
    width: 250px;
    height: 300px;
    border-radius: 6px;
    border: thin silver solid;
    margin: 1.5vh;
    text-align: center;
    text-indent: 0;
}

img.scaled {
    width: 100%;
}

/* Media Queries */

/* Normal (Biggest) */
@media (max-width: 1400px) {

    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 30px;
    }

    p {
        font-size: 20px;
    }

    .btn-box {
        height: 40px;
        width: 145px;
    }

    .btn-txt {
        font-size: 20px;
    }
}

/* Big */
@media (min-width: 992px) and (max-width: 1199px) {

    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 30px;
    }

    p {
        font-size: 20px;
    }

    .btn-box {
        height: 38px;
        width: 135px;
    }

    .btn-txt {
        font-size: 20px;
    }

    .topnav-right {
        display: none;
    }
}

/* Medium */
@media (min-width: 768px) and (max-width: 991px) {

    h1 {
        font-size: 42px;
    }

    h2 {
        font-size: 27px;
    }

    p {
        font-size: 17px;
    }

    .btn-box {
        height: 38px;
        width: 115px;
    }

    .btn-txt {
        font-size: 20px;
    }

    .topnav-right {
        display: none;
    }
}

/* Small */
@media (max-width: 767px) {

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 25px;
    }

    p {
        font-size: 15px;
    }

    .btn-box {
        height: 38px;
        width: 115px;
    }

    .btn-txt {
        font-size: 20px;
    }

    .topnav-right {
        display: none;
    }
}

/* Smallest */
@media (max-width: 480px) {

    h1 {
        font-size: 37px;
    }

    h2 {
        font-size: 22px;
    }

    p {
        font-size: 12px;
    }

    .btn-box {
        height: 38px;
        width: 115px;
    }

    .btn-txt {
        font-size: 20px;
    }

    .topnav-right {
        display: none;
    }
}